.faq{
  padding:80px 20px;
  background:#faf8f5;
}

.faq-header{
  text-align:center;
  margin-bottom:40px;
}

.faq-header h2{
  font-size:42px;
  color:var(--primary);
}

.faq-container{
  max-width:900px;
  margin:auto;
}

.faq-item{
  background:white;
  border-radius:12px;
  margin-bottom:15px;
  overflow:hidden;

  box-shadow:
  0 5px 15px rgba(0,0,0,.08);
}

.faq-question{
  width:100%;
  border:none;
  background:white;

  padding:20px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  font-size:18px;
  font-weight:600;

  cursor:pointer;
}

.faq-answer{
  padding:20px;
  color:#666;
  border-top:1px solid #eee;
}