.stats {
  margin-top:10px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 70px 50px;
  text-align: center;
  background: white;
}
.stats-header {
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
}
.stats h2 {
  color: var(--primary);
  margin-bottom: 40px;
}
.stat-card {
    
  background: var(--white);
  border: 1px solid var(--border);
  padding: 25px;
  width: 260px;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.stat-card:hover {
  transform: scale(1.05);
}
.services h2 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--primary);
}